html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
      #alertWindow {
        display: none;
        position: fixed;
        width: 200px;
        left: 50%;
        margin-left: -100px;
        top: 75px;
        z-index: 4;
        font-family: Arial;
        font-weight: bold;
        background: rgba(255, 0, 0, 0.5);
        padding: 10px;
        text-align: center;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
        }
      #logo {
        font-family: 'Lemon', cursive; 
        color: rgba(248, 0, 70, 0.9); 
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
        font-size: 36px; 
        display:block; 
        height: 50px; 
        float: left;
      }
      #footer {
        width: 100%; 
        display:block; 
        height: 25px; 
        position:fixed; 
        bottom: 0;
      }
      #header {
        display:block; 
        height: 50px; 
        top: 0; 
        width: 100%;
        position: fixed;
      }
      #mapDiv {
        padding-top: 50px; 
        padding-bottom: 25px; 
        box-sizing: border-box; 
        height: 100%
      }
      #cities {
        float: left;
        margin-top: 23px;
        margin-left: 20px;}
      .city {
        float: left;
        font-family: lemon;
        padding: 2px 5px;
        border-style: solid;
        border-bottom: 0px;
        border-width: 2px;
        border-color: rgba(248, 0, 70, 0.7);
        margin: 2px;
        border-radius: 6px 6px 0px 0px;
        cursor: pointer;
      }
      .city.active {
        background-color: rgba(248, 0, 70, 0.3);
      }
      .infoWindow {
        width:500px;  
        height:300px;
      }
      .event {
        font-size: 13px;
      }
      .venue {
        width: 500px;
      
        font-family: lemon;
      }