html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
      #alertWindow {
        display: none;
        position: fixed;
        width: 200px;
        left: 50%;
        margin-left: -100px;
        top: 75px;
        z-index: 4;
        font-family: Arial;
        font-weight: bold;
        background: rgba(255, 0, 0, 0.5);
        padding: 10px;
        text-align: center;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
        }
      #logo {
        font-family: 'Lemon', cursive; 
        color: rgba(248, 0, 70, 0.9); 
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
        font-size: 36px; 
        display:block; 
        height: 50px;
        padding-left: 10px; 
        float: left;
      }
      #footer {
        width: 100%; 
        display:block; 
        height: 65px; 
        position:fixed; 
        bottom: 0;
      }
      #header {
        display:block; 
        height: 50px; 
        top: 0; 
        width: 100%;
        position: fixed;
        z-index: 10000;
      }
      #mapDiv {
        padding-top: 50px; 
        padding-bottom: 65px; 
        box-sizing: border-box;
        -moz-box-sizing: border-box; 
        height: 100%
      }
      .cityDropDown {
        float: left;
        margin-top: 23px;
        margin-left: 20px;}
      .intro {
        float: left;
        font-family: arial;
        font-weight: bold;
        font-size: 16px;
        padding: 2px 5px;
        border-style: solid;
        border-bottom: 0px;
        border-width: 2px;
        border-color: rgba(248, 0, 70, 0.7);
        margin: 2px;
        margin-top: 24px;
        margin-left: 15px;
        border-radius: 6px 6px 0px 0px;
        cursor: pointer;
      }
      #introText {
        z-index: 2000001;
		position: absolute;
		background: white;
		width: 600px;
		margin-left: 210px;
		margin-top: 50px;
		border: 4px solid #CCC;
		padding: 10px;
		font-family: arial;
		font-size: 12px;
		color: #333;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
      }
      .close {
        height: 40px;
        width: 40px;
        
      }
      #introCloseButton {
        float: right;
        cursor: pointer;
      }
      .intro.active {
        background-color: rgba(33, 33, 33, 0.1);
      }
      #legend {
        float: right;
      }
      .ad {
        float: bottom;
        z-index: 12;
      }
      .markerWrap {
        float: left;
        margin-left: 2px;
      }
      .markerWrap.active {
        background-color: rgba(20, 20, 20, 0.3);
      }
      .markerText {
        font-family: arial;
        font-size: 9px;
        text-align: center;
      }  
      .city.active {
        background-color: rgba(248, 0, 70, 0.3);
      }
      .infoWindow {
        width:500px;  
        height:300px;
      }
      .event {
        font-size: 13px;
        margin: 4px;
      }
      .venue {
        width: 500px;
        font-weight: bold;
        font-family: arial;
      }
      
      #fancybox-wrap {
        top : 45px !important;
      }