<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>SongKickServer</servlet-name>
		<servlet-class>com.teneke.songkickmaps.servlet.VenueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SongKickServer</servlet-name>
		<url-pattern>/venues</url-pattern>
		<load-on-startup>1</load-on-startup>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>MemPopulator</servlet-name>
        <servlet-class>com.teneke.songkickmaps.servlet.MemPopulatorServlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>MemPopulator</servlet-name>
        <url-pattern>/_ah/start</url-pattern>
        
    </servlet-mapping>
    
	<servlet>
        <servlet-name>Resetter</servlet-name>
        <servlet-class>com.teneke.songkickmaps.servlet.InitializerServlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>Resetter</servlet-name>
        <url-pattern>/admin/reset</url-pattern>
        
    </servlet-mapping>
    <servlet>
        <servlet-name>VenueServlet</servlet-name>
        <servlet-class>com.teneke.songkickmaps.servlet.VenueEventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VenueServlet</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<security-constraint>
    <web-resource-collection>
       <url-pattern>/_ah/start</url-pattern>
       <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
       <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
